<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Documents</title>
</head>
<body>


    <!-- Listar Usuarios -->
    <div>
        <br>
        <table class="table table-bordered">
            <h3>Listar usuario</h3>
            <tr><td>Numero</td><td>1</td></tr>
            <tr><td>Nombre endpoint</td><td>Listar usuarios</td></tr>
            <tr><td>URL</td><td>http://localhost:3000/usuarios/listar</td></tr>
            <tr><td>Descripción</td><td>Endpoint para listar los usuarios</td></tr>
            <tr><td>Verbo HTTP</td><td>GET</td></tr>
            <tr><td>Header</td><td>Content-type: JSON</td></tr>
            <tr><td>Request JSON</td><td>
                {<br>
                    null<br>
                }</td></tr>
            <tr><td>Response</td><td>
                <div>Correcto:</div>
                "status": "200"<br>
                Body :{<br>
                    "id_usuario": 1,<br>
                    "nombre": "julian",<br>
                    "identificacion": 1117486332,<br>
                    "telefono": "321412312123",<br>
                    "correo": "julian@gmail.com",<br>
                    "contraseña": "123",<br>
                    "tipo_usuario": "celador",<br>
                    "estado_usuario": "activo"<br>
                }
                <div>Incorrecto</div>
                "status": "500"<br>
                Body :{<br>
                "message: "Error al obtener usuarios"<br>
                }
            </td></tr>
        </table>
    </div>
    <!-- Registrar Usuario -->
    <div>
        <br>
        <table class="table table-bordered">
            <h3>Registrar usuario</h3>
            <tr><td>Numero</td><td>2</td></tr>
            <tr><td>Nombre endpoint</td><td>Registrar usuarios</td></tr>
            <tr><td>URL</td><td>http://localhost:3000/usuarios/registrar</td></tr>
            <tr><td>Descripción</td><td>Endpoint para registrar un usuario en la base de datos</td></tr>
            <tr><td>Verbo HTTP</td><td>POST</td></tr>
            <tr><td>Header</td><td>Content-type: JSON</td></tr>
            <tr><td>Request JSON</td><td>
                {<br>
                    "nombre": "julian prueba",<br>
                    "identificacion": 11174822,<br>
                    "telefono": "32143121231",<br>
                    "correo": "julian1@gmail.com",<br>
                    "contraseña": "12334",<br>
                    "tipo_usuario": "celador"/"administrador"/"instructor",<br>
                    "estado_usuario": "activo"/"inactivo"<br>
                }</td></tr>
            <tr><td>Response</td><td>
                <div>Correcto:</div>
                "status": "200"<br>
                Body :{<br>
                "message:"Se registro con exito el usuario"<br>
                }
                <div>Incorrecto</div>
                "status": "500"<br>
                Body :{<br>
                "message: "Error al crear usuario"<br>
                }
            </td></tr>
        </table>
    </div>
    <!-- ELIMINAR USUARIO -->
    <div>
        <br>
        <table class="table table-bordered">
            <h3>Eliminar usuario</h3>
            <tr><td>Numero</td><td>3</td></tr>
            <tr><td>Nombre endpoint</td><td>Eliminar usuarios</td></tr>
            <tr><td>URL</td><td>http://localhost:3000/usuarios/eliminar/:id</td></tr>
            <tr><td>Descripción</td><td>Endpoint para Eliminar un usuario en la base de datos</td></tr>
            <tr><td>Verbo HTTP</td><td>DELETE</td></tr>
            <tr><td>Header</td><td>Content-type: JSON</td></tr>
            <tr><td>Request JSON</td><td>
                {<br>
                    null <br>
                }</td></tr>
            <tr><td>Response</td><td>
                <div>Correcto:</div>
                "status": "200"<br>
                Body :{<br>
                "message:"Usuario eliminado exitosamente"<br>
                }
                <div>Incorrecto</div>
                "status": "500"<br>
                Body :{<br>
                "message: "Error al eliminar usuario"<br>
                }
            </td></tr>
        </table>
    </div>
    <!-- ACTUALIZAR USUARIO -->
    <div>
        <br>
        <table class="table table-bordered">
            <h3>Actualizar usuario</h3>
            <tr><td>Numero</td><td>4</td></tr>
            <tr><td>Nombre endpoint</td><td>Actualizar usuarios</td></tr>
            <tr><td>URL</td><td>http://localhost:3000/usuarios/actualizar/:id</td></tr>
            <tr><td>Descripción</td><td>Endpoint para Actualizar un usuario en la base de datos</td></tr>
            <tr><td>Verbo HTTP</td><td>PUT</td></tr>
            <tr><td>Header</td><td>Content-type: JSON</td></tr>
            <tr><td>Request JSON</td><td>
                {<br>
                    
                        "nombre": "julian actualizado",<br>
                        "identificacion": 11174822,<br>
                        "telefono": "32143121231",<br>
                        "correo": "julian1@gmail.com",<br>
                        "contraseña": "12334",<br>
                        "tipo_usuario": "celador"/"instructor"/"Administrador",<br>
                        "estado_usuario": "activo"/"inactivo"<br>
                }</td></tr>
            <tr><td>Response</td><td>
                <div>Correcto:</div>
                "status": "200"<br>
                Body :{<br>
                "message:"Usuario actualizado exitosamente"<br>
                }
                <div>Incorrecto</div>
                "status": "500"<br>
                Body :{<br>
                "message: "Error al actualizar usuario"<br>
                }
            </td></tr>
        </table>
    </div>
    <!-- BUSCAR USUARIO POR ID -->
    <div>
        <br>
        <table class="table table-bordered">
            <h3>Buscar usuario</h3>
            <tr><td>Numero</td><td>5</td></tr>
            <tr><td>Nombre endpoint</td><td>Buscar usuario por ID</td></tr>
            <tr><td>URL</td><td>http://localhost:3000/usuarios/buscar/:id</td></tr>
            <tr><td>Descripción</td><td>Endpoint para buscar un usuario en la base de datos</td></tr>
            <tr><td>Verbo HTTP</td><td>GET</td></tr>
            <tr><td>Header</td><td>Content-type: JSON</td></tr>
            <tr><td>Request JSON</td><td>
                {<br>
                    null<br>
                }</td></tr>
            <tr><td>Response</td><td>
                <div>Correcto:</div>
                "status": "200"<br>
                Body :{<br>
                    {
                        "id_usuario": 1,<br>
                        "nombre": "julian actualizado",<br>
                        "identificacion": 11174822,<br>
                        "telefono": "32143121231",<br>
                        "correo": "julian1@gmail.com",<br>
                        "contraseña": "12334",<br>
                        "tipo_usuario": "celador",<br>
                        "estado_usuario": "activo"<br>
                    }<br>
                }
                <div>Incorrecto</div>
                "status": "500"<br>
                Body :{<br>
                "message: "Error al obtener usuario"<br>
                }
            </td></tr>
        </table>
    </div>

    <!-- LISTAR PRESTAMOS -->
    <div>
        <br>
        <table class="table table-bordered">
            <h3>Listar Prestamo</h3>
            <tr><td>Numero</td><td>6</td></tr>
            <tr><td>Nombre endpoint</td><td>Listar Prestamos</td></tr>
            <tr><td>URL</td><td>http://localhost:3000/prestamos/listar</td></tr>
            <tr><td>Descripción</td><td>Endpoint para Listar los prestamos de la base de datos</td></tr>
            <tr><td>Verbo HTTP</td><td>GET</td></tr>
            <tr><td>Header</td><td>Content-type: JSON</td></tr>
            <tr><td>Request JSON</td><td>
                {<br>
                    null <br>
                }</td></tr>
            <tr><td>Response</td><td>
                <div>Correcto:</div>
                "status": "200"<br>
                Body :{<br>
                        "id_prestamo": 1,<br>
                        "nombre_ambiente": "Y12",<br>
                        "fecha_prestamo": "2024-03-05T05:00:00.000Z",<br>
                        "fecha_entrega": "2024-03-04T05:00:00.000Z",<br>
                        "nombre_celador": "carlos",<br>
                        "observaciones": "ninguna",<br>
                        "fk_usuario": 1,<br>
                        "fk_ambiente": 1 <br>
                }
                <div>Incorrecto</div>
                "status": "500"<br>
                Body :{<br>
                "message: "Error al listar prestamos"<br>
                }
            </td></tr>
        </table>
    </div>
    <!-- REGISTRAR PRESTAMOS -->
    <div>
        <br>
        <table class="table table-bordered">
            <h3>Registrar Prestamos</h3>
            <tr><td>Numero</td><td>7</td></tr>
            <tr><td>Nombre endpoint</td><td>Registrar Prestamos</td></tr>
            <tr><td>URL</td><td>http://localhost:3000/prestamos/registrar</td></tr>
            <tr><td>Descripción</td><td>Endpoint para registrar los prestamos de la base de datos</td></tr>
            <tr><td>Verbo HTTP</td><td>POST</td></tr>
            <tr><td>Header</td><td>Content-type: JSON</td></tr>
            <tr><td>Request JSON</td><td>
                {<br>
                        "nombre_ambiente": "Y12 nuevo",<br>
                        "fecha_prestamo": "2024-03-05",<br>
                        "fecha_entrega": "2024-03-04",<br>
                        "nombre_celador": "carlos nuevo",<br>
                        "observaciones": "ninguna",<br>
                        "fk_usuario": 1,<br>
                        "fk_ambiente": 1 <br>
                }</td></tr>
            <tr><td>Response</td><td>
                <div>Correcto:</div>
                "status": "200"<br>
                Body :{<br>
                        "message": "se registro con exito el prestamo"
                    }
                <div>Incorrecto</div>
                "status": "500"<br>
                Body :{<br>
                "message: "Error al Registrar prestamo"<br>
                }
            </td></tr>
        </table>
    </div>
    <!-- ELIMINAR PRESTAMOS -->
    <div>
        <br>
        <table class="table table-bordered">
            <h3>Eliminar Prestamos</h3>
            <tr><td>Numero</td><td>8</td></tr>
            <tr><td>Nombre endpoint</td><td>Eliminar Prestamos</td></tr>
            <tr><td>URL</td><td>http://localhost:3000/prestamos/eliminar/:id</td></tr>
            <tr><td>Descripción</td><td>Endpoint para Eliminar los prestamos de la base de datos</td></tr>
            <tr><td>Verbo HTTP</td><td>DELETE</td></tr>
            <tr><td>Header</td><td>Content-type: JSON</td></tr>
            <tr><td>Request JSON</td><td>
                {<br>
                    null <br>
                }</td></tr>
            <tr><td>Response</td><td>
                <div>Correcto:</div>
                "status": "200"<br>
                Body :{<br>
                        "message": "prestamo eliminado con exito"
                    }
                <div>Incorrecto</div>
                "status": "500"<br>
                Body :{<br>
                "message: "prestamo no eliminado"<br>
                }
            </td></tr>
        </table>
    </div>
    <!-- ACTUALIZAR PRESTAMOS -->
    <div>
        <br>
        <table class="table table-bordered">
            <h3>Actualizar Prestamos</h3>
            <tr><td>Numero</td><td>9</td></tr>
            <tr><td>Nombre endpoint</td><td>Actualizar Prestamos</td></tr>
            <tr><td>URL</td><td>http://localhost:3000/prestamos/actualizar/:id</td></tr>
            <tr><td>Descripción</td><td>Endpoint para Actualizar los prestamos de la base de datos</td></tr>
            <tr><td>Verbo HTTP</td><td>PUT</td></tr>
            <tr><td>Header</td><td>Content-type: JSON</td></tr>
            <tr><td>Request JSON</td><td>
                {<br>
                        "nombre_ambiente": "Y12 Actualizado",<br>
                        "fecha_prestamo": "2024-03-05",<br>
                        "fecha_entrega": "2024-03-04",<br>
                        "nombre_celador": "carlos actualizado",<br>
                        "observaciones": "ninguna",<br>
                        "fk_usuario": 1,<br>
                        "fk_ambiente": 1 <br>
                }</td></tr>
            <tr><td>Response</td><td>
                <div>Correcto:</div>
                "status": "200"<br>
                Body :{<br>
                        "message": "prestamo actualizado con exito"
                    }
                <div>Incorrecto</div>
                "status": "500"<br>
                Body :{<br>
                "message: "prestamo no actualizado"<br>
                }
            </td></tr>
        </table>
    </div>
    <!-- BUSCAR PRESTAMO POR ID -->
    <div>
        <br>
        <table class="table table-bordered">
            <h3>Buscar Prestamos por ID</h3>
            <tr><td>Numero</td><td>10</td></tr>
            <tr><td>Nombre endpoint</td><td>Buscar Prestamos por ID</td></tr>
            <tr><td>URL</td><td>http://localhost:3000/prestamos/consultar/:id</td></tr>
            <tr><td>Descripción</td><td>Endpoint para Consultar los prestamos de la base de datos</td></tr>
            <tr><td>Verbo HTTP</td><td>GET</td></tr>
            <tr><td>Header</td><td>Content-type: JSON</td></tr>
            <tr><td>Request JSON</td><td>
                {<br>
                    null <br>
                }</td></tr>
            <tr><td>Response</td><td>
                <div>Correcto:</div>
                "status": "200"<br>
                Body :{<br>
                        "id_prestamo": 1, <br>
                        "nombre_ambiente": "Y12 Actualizado",<br>
                        "fecha_prestamo": "2024-03-05T05:00:00.000Z",<br>
                        "fecha_entrega": "2024-03-04T05:00:00.000Z",<br>
                        "nombre_celador": "carlos actualizado",<br>
                        "observaciones": "ninguna",<br>
                        "fk_usuario": 1,<br>
                        "fk_ambiente": 1 <br>
                    }
                <div>Incorrecto</div>
                "status": "404"<br>
                Body :{<br>
                "message: "prestamo no encontrado"<br>
                }
            </td></tr>
        </table>
    </div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>